* {
    box-sizing: border-box;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: fixed;
    display: flex!important;
    flex-basis: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: #212B36;
    width: 100%;
    height: 60px;
}

header > nav {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: auto!important;
    flex-direction: row;
    text-decoration: none;

    height: 100%;
}

.nav_logo {
    height: 100%; 
    width: 75px;
}

.nav_item {
    background-color: #0000;
    color: white !important;
    font-weight: bolder;
    padding: 5px;
    transition: 2.5s ease-out;
    cursor: pointer;
}

.nav_item:hover {
    background-color: #51698288;
    transition: 0.2s ease-in;
}
.nav_item > a {
    color: #799CC2;
    display: flex;
    line-height: 25px;
    padding: 8px;
    text-decoration: none;
    transition: .1s linear;
    font-size: 1.0em;
}

.nav_skew {
    transform: skewX(20deg) !important;
}
.nav_skew > a {
    transform: skewX(-20deg) !important;
}

.nav_current {
    background-color: rgba(255,255,255,0.9);
}
.nav_current > a {
    color: black;
}

.hvr_underline_reveal {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr_underline_reveal:hover{
    overflow: visible;
}
.hvr_underline_reveal:hover::before{
    transform: translateY(0px);
}

.hvr_underline_reveal::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

section{
    height: 100%;
    width: 100%;
}

.landing{
    display: grid;
    grid-template-areas: 
        "header header header header header"
        ". . . . ."
        ". . main . ."
        ". . . . ."
        ". . . . .";
    background: url("../assets/images/landing-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.landing_title{
    grid-area: main;
    height: 300px;
    width: 600px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(100, 100, 100, 0.25);
}

.landing_title > span {
    display: flex;
    justify-content: center;
    color: #dddddd;
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 72px;
    font-weight: lighter;
}

.landing_title > span.anim_slide_top {
    padding-top: 50px;
    animation: 1s ease-out 0s 1 slideInFromTop;
}
.landing_title > span.anim_slide_bottom {
    padding-bottom: 60px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 0;
    color: #516982;
    background-color: #212B36;
    min-height: 8.0vh;
    width: 100%;
}

.footer_col {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.footer_social {
    display: flex;
    width: inherit;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.footer_social > a {
    color: #516982;
    text-decoration: none;
    border-radius: 2px;
}

.footer_social > a > i {
    font-size: 24px;
    height: 1.5em;
    width: 1.5em;
    margin-top: 0.5em !important;
    margin: 0 !important;
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition: .0s !important;
}