<!-- Rectangular switch -->
<div class="privacyControls">
    <div id="cookiesToggle" class="toggle">
        <span>
            Cookies
        </span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    
    <div id="analyticsToggle" class="toggle">
        <span>
            Analytics
        </span>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
</div>