---
layout: default
---

<div class="post">
    
    <div class="post__header">
        <img class="post__cover" src="{{ page.cover }}" alt="Post Cover"/>
        <h1 class="post__header--title">{{ page.title }}</h1>
        <div class="post__header--date">
            <span>
                <i class="fas fa-calendar"></i>{{ page.date | date_to_string }}
            </span>
            <span>
                <i class="fas fa-address-card"></i>{{ page.author }}
            </span>
        </div>
        <div class="post__header--tags">
            {% assign tags = site.data.tags %}
            {% for tag in page.tags %}
                <span class="badge badge-{{tags[tag].color}}">
                    <i class="{{ tags[tag].icon }}"></i>{{ tag | upcase }}
                </span>
            {% endfor %}
        </div>
    </div>
    
    <div class="post__content">
        {{ content }}
    </div>
</div>