header{
    position: fixed;
    display: flex!important;
    flex-basis: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: $header-color;
    width: 100%;
    height: 60px;
    z-index: 99;
    
    & nav {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        margin-right: auto!important;
        flex-direction: row;
        text-decoration: none;
        
        height: 100%;
    }   
}